/* global css */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: sans-serif;
}
.container {
  width: 1200px;
  margin: auto;
}
.text-primary {
  color: #fb9d5c;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.btn-primary {
  background-color: #fb9d5c;
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #d38c59;
}
.btn-secondary {
  background-color: #0dcaf0;
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #0da5c496;
}

/* private */

/* hero section css */
.hero {
  height: 100vh;
  background-image: url(./image/hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  justify-items: center;
}
.logo-box {
  flex: 1;
}
.nav-item {
  flex: 1;
}
.nav-item > ul {
  display: flex;
  justify-content: space-around;
}
.nav-item > ul > li {
  cursor: pointer;
}
.hero_banner {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.hero_left {
  align-self: center;
  /* margin: auto; */
}
.hero-card {
  width: 400px;
  text-align: center;
}
.hero-card > h2 {
  font-size: 30px;
  color: white;
  margin: 20px 0px;
}

.hero_right > img {
  overflow: hidden;
}

/* sponsor section */

.sponsor_list {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.sponsor_list > div {
  margin: 50px 2px;
}

/* service section */
.service {
  margin: 80px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-heading {
  width: 50%;
  text-align: center;
}
.service_list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: 100px 0px;
  text-align: center;
}
.service_card {
  border: 1px solid rgba(141, 136, 136, 0.404);
  padding: 10px;
  border-radius: 2px;
}
.card_heading {
  margin: 20px 5px;
}

/* contact section */
.hire {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hire_title {
  font-size: 35px;
  margin: 10px 0px;
}

.hire_title > span {
  font-size: 35px;
}
.contact {
  display: flex;
  gap: 20px;
  margin: 25px 0px;
}
.contact > i {
  font-size: 70px;
  color: #fb9d5c;
}

.footer {
  background-color: #151515;
}

.footer_list {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 300px auto auto auto auto;
  gap: 20px;
  text-align: center;
  color: #c0baba;
}
.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0px;
  justify-content: center;
}
.footer_logo > img {
  width: 50px;
}

.subscribe_form {
  margin: 15px 0px 0px 0px;
}
.subscribe_form > input {
  margin-top: 10px;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #808080;
}
.subscribe_form > input:focus {
  outline: none;
}
.subscribe_form > input::placeholder {
  color: #ffffff;
}

.footer_item_list {
  margin: 20px 0px;
}
.footer_item_list > li {
  margin: 5px 0px;
}
.text-address {
  color: #fb9d5c;
}
.address_card {
  margin: 15px 0px;
}
